<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <!--<add name="TaskoConnection" connectionString="Data Source=182.50.133.111;Initial Catalog=Tasko_apitesting;User ID=tasko_api;password =tasko@123" providerName="System.Data.SqlClient"/>-->

    <!--<add name="TaskoConnection" connectionString="Data Source=localhost;Initial Catalog=Tasko;User ID=sa;password=9948636000"  providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <dataConfiguration defaultDatabase="TaskoConnection"/>
</configuration>
