<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" requirePermission="false" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AppId" value="E90D7ECB2935419DB04BE3436FC6537A"/>
    <add key="DistanceCovered" value="5"/>
    <add key="CustomerETA" value="45"/>
    <add key="AuthKey" value="AIzaSyA4vEcZ8sxSVDKGCn9Xl0N4Wvm4rx9ZU-U"/>
  </appSettings>
  <connectionStrings>
    <add name="TaskoConnection" connectionString="Data Source=SRIKANTH_WP8\SQLEXPRESS;Initial Catalog=Tasko;User ID=sa;password=gowtham" providerName="System.Data.SqlClient"/>
    <!--<add name="TaskoConnection" connectionString="Data Source=182.50.133.111;Initial Catalog=tasko_Changes;User ID=taskoChanges;password =tasko_Changes" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TaskoConnection" connectionString="Data Source=localhost;Initial Catalog=Tasko;Trusted_Connection = yes" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TaskoConnection" connectionString="Data Source=localhost;Initial Catalog=Tasko;User ID=sa;password=9948636000"  providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <dataConfiguration defaultDatabase="TaskoConnection"/>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Tasko.Services.VendorAppService" behaviorConfiguration="servicebehavior">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="web" contract="Tasko.Interfaces.IVendorAppService"> </endpoint>
        <endpoint address="basic" binding="basicHttpBinding"  bindingName="basicbinding" contract="Tasko.Interfaces.IVendorAppService"></endpoint>
      </service>
      <service name="Tasko.Services.CustomerService" behaviorConfiguration="servicebehavior">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="web" contract="Tasko.Interfaces.ICustomerService"> </endpoint>
        <endpoint address="basic" binding="basicHttpBinding"  bindingName="basicbinding" contract="Tasko.Interfaces.ICustomerService"></endpoint>
      </service>
      <service name="Tasko.Services.AdminService" behaviorConfiguration="servicebehavior">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="web" contract="Tasko.Interfaces.IAdminService"> </endpoint>
        <endpoint address="basic" binding="basicHttpBinding"  bindingName="basicbinding" contract="Tasko.Interfaces.IAdminService"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="servicebehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
