<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" requirePermission="false" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="VendorAppId" value="E90D7ECB2935419DB04BE3436FC6537A"/>
  </appSettings>
  <connectionStrings>
    <!-- <add name="TaskoConnection" connectionString="Data Source=SRIKANTH_WP8\SQLEXPRESS;Initial Catalog=Tasko;User ID=sa;password=gowtham" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TaskoConnection" connectionString="Data Source=182.50.133.111;Initial Catalog=Tasko_apitesting;User ID=tasko_api;password =tasko@123" providerName="System.Data.SqlClient"/>-->
    <add name="TaskoConnection" connectionString="Data Source=localhost;Initial Catalog=Tasko;Trusted_Connection = yes" providerName="System.Data.SqlClient"/>
    <!--<add name="TaskoConnection" connectionString="Data Source=localhost;Initial Catalog=Tasko;User ID=sa;password=9948636000"  providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <dataConfiguration defaultDatabase="TaskoConnection"/>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Tasko.VendorService" behaviorConfiguration="servicebehavior">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="web" contract="Tasko.IVendorService"> </endpoint>
        <endpoint address="basic" binding ="basicHttpBinding" bindingName="basicbinding" contract="Tasko.IVendorService"></endpoint>
      </service>
      <service name="Tasko.CustomerService" behaviorConfiguration="servicebehavior">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="web" contract="Tasko.ICustomerService"> </endpoint>
        <endpoint address="basic" binding ="basicHttpBinding" bindingName="basicbinding" contract="Tasko.ICustomerService"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="servicebehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
